body{
    background-color: rgb(35, 69, 69);
}
header, footer{
  background-color: rgb(47, 93, 93);
  height: 40px;
}
c {
  color: #ffff;
    font-size: 30px;
}
p,a,h1 {
  color: rgb(255, 255, 255);
}
button {
  background-color: transparent;
  color: rgb(0, 0, 0);
  border-color: black;
  border: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
img {
  border-radius: 50%;
}

#nonround{

  border-radius: 0%;
  
}

b {
  color: #ffff;
    font-size: 10px;
}